#wrapper-navbar {
    // background-color: red !important;
    #main-nav{
        background-color: #FFFFFF8A !important;
        background-color: rgba(255, 255, 255, 0.8);
        // position: fixed;
        width: 100%;
        z-index: 99;
        .container {
            // background-color: red;
            .navbar-brand {
                max-height: 150px;
                img {
                    max-width: 100px;
                    height: auto;
                }
            }
        }
    }
}

#main-menu {
    li {
        a{  color: #333;
            &:hover{ color: #FFF;}
        }
    }
}